*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    list-style: none;
    background-color: rgb(47, 7, 85);
    font-family: sans-serif;

}

.container{
    width: 76%;
margin: 0 auto;
/* background-color: black; */
}
h4,h5{
    font-size: 2.4rem;
}

a{
    color: white;

}
.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    font-weight: 500;
    border-color: white;
    border: 1px solid transparent;
}




/* ++++++++        NAVABR_______________ */

nav{

    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;

}
.nav_container{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_item{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_item a{
    font-size: 1.2rem;
    font-family: sans-serif;
    transition: all 400ms ease;
}
.nav_item a:hover{
color: red;
}

.section1{
    height: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    gap: 4rem;
    color: white;
    font-family: sans-serif;
}
th{

    color: black;
    
}
h1{
    text-align: center;
    color: white;
}
table{
    border: 1px solid black;
    padding: 80px;
    border-radius: 90px;
    border-collapse: collapse;
    /* margin: 20% 0px 0px 20%; */
    background-color: gainsboro;
}
th,tr,td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    border-radius: 90px;
}
.sec{
    background-color: aqua;
    position: absolute;
    top: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
}