*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    list-style: none;
    background-color: rgb(47, 7, 85);
    font-family: sans-serif;

}

.container{
    width: 76%;
margin: 0 auto;
/* background-color: black; */
}
h4,h5{
    font-size: 2.4rem;
}

a{
    color: white;

}
.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    font-weight: 500;
    border-color: white;
    border: 1px solid transparent;
}




/* ++++++++        NAVABR_______________ */

nav{

    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;

}
.nav_container{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_item{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_item a{
    font-size: 1.2rem;
    font-family: sans-serif;
    transition: all 400ms ease;
}
.nav_item a:hover{
color: red;
}